* {
  font-family: "Roboto", sans-serif !important;
}

body {
  padding: 0px;
  margin: 0px;
  color: white;
}

div .container-fluid {
  margin: 0;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.left {
  padding-left: 5rem;
}

.right {
  padding-right: 5rem;
}

.navbarLogo {
  line-height: 2rem;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.navbar-brand span {
  font-weight: bold;
}

.navbar-nav {
  display: flex;
}

.navbar-dark .navbar-nav .nav-link {
  padding-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: none;
  color: #26e673;
}

.isotipo {
  width: 14rem;
  height: 2rem;
  left: 15rem;
  top: 1.5rem;
}

/* INICIO */

.bg-overlay {
  height: 91vh;
  background-image: url("https://raw.githubusercontent.com/martingomezar/mrtricoach/main/assets/01paolocandelo53B17GiIhTAunsplash.jpg");
}

.inicioTitulo {
  position: absolute;
  width: 50rem;
  height: 10rem;
  left: 249px;
  top: 175px;
  font-weight: 900;
  font-size: 94px;
  line-height: 110px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.inicioSubTitulo {
  position: absolute;
  width: 642px;
  height: 104px;
  left: 249px;
  top: 384px;
  font-weight: 500;
  font-size: 43px;
  line-height: 52px;
  color: #26e673;
}

.instagram {
  position: absolute;
  left: 4.25%;
  right: 23.22%;
  top: 40%;
  bottom: 0%;
}

.facebook {
  position: absolute;
  left: 4.25%;
  right: 94.08%;
  top: 46%;
  bottom: 68.63%;
}

/* COACH */

.coach {
  background-color: black;
  padding: 0px;
  margin: 0px;
}

.leftTitle {
  width: 209px;
  height: 90px;
  left: 57px;
  top: 66px;
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 45px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.leftTextOne {
  width: 300px;
  height: 90px;
  left: 57px;
  top: 66px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 45px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.leftTextTwo {
  width: 405px;
  height: 600px;
  left: 56px;
  top: 400px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 35px;
  letter-spacing: 0.1em;
}
