* {
  font-family: "Roboto", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: black;
}

div .container-fluid {
  margin: 0;
}
/* VARIABLES */
:root{
  --font-primario: 'Barlow', sans-serif;;
  --color-primario: #26E573; 
}
/* VARIABLES */
/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  color: white;
}

.left {
  padding-left: 5rem;
}

.right {
  padding-right: 5rem;
}

.navbarLogo {
  line-height: 2rem;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  color: white;
}

.navbarLogo:hover {
  text-decoration: none;
  color: #26e673;
}

.navbar-brand span {
  font-weight: bold;
}

.navbar-nav {
  display: flex;
}

.navbar-expand .navbar-nav .nav-link {
  padding-left: 1rem;
  color: white;
}

.navbar-expand .navbar-nav .nav-link:hover {
  text-decoration: none;
  color: #26e673;
}

.isotipo {
  width: 14rem;
  height: 2rem;
  left: 15rem;
  top: 1.5rem;
}

/* INICIO */

.bg-overlay {
  height: 91vh;
  background-image: url("https://raw.githubusercontent.com/martingomezar/mrtricoach/main/assets/01paolocandelo53B17GiIhTAunsplash.jpg");
}

.inicioTitulo {
  position: absolute;
  width: 50rem;
  height: 10rem;
  left: 249px;
  top: 175px;
  font-weight: 900;
  font-size: 94px;
  line-height: 110px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.inicioSubTitulo {
  position: absolute;
  width: 642px;
  height: 104px;
  left: 249px;
  top: 384px;
  font-weight: 500;
  font-size: 43px;
  line-height: 52px;
  color: #26e673;
}

.instagram {
  position: absolute;
  left: 4.25%;
  right: 23.22%;
  top: 40%;
  bottom: 0%;
}

.facebook {
  position: absolute;
  left: 4.25%;
  right: 94.08%;
  top: 46%;
  bottom: 68.63%;
}

/* METODO */

.metodo {
  background-color: black;
  padding: 0px;
  margin: 0px;
}

.metodoleftTitle {
  width: 209px;
  height: 90px;
  left: 57px;
  top: 66px;
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 45px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.metodoleftTextOne {
  width: 300px;
  height: 90px;
  left: 57px;
  top: 66px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 45px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.metodoleftTextTwo {
  width: 405px;
  height: 600px;
  left: 56px;
  top: 400px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 35px;
  letter-spacing: 0.1em;
}

/* COACH */

.coachLeftTitle {
  width: 20rem;
  height: 21px;
  left: 133px;
  top: 487px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #26e673;
}

.coachLeftParrafo {
  width: 315px;
  height: 102px;
  left: 60px;
  top: 525px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
}

.coachLeftImage {
  width: 342px;
  height: 343px;
  left: 59px;
  top: 117px;
  box-shadow: inset 0px 0px 5px 10px #0e0e0e;
  border-radius: 182px;
}

.coachRightTitle {
  width: 182px;
  height: 35px;
  left: 481px;
  top: 142px;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.coachRightLine {
  width: 740px;
  height: 364px;
  left: 483px;
  top: 201px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.coachMR{
  font-weight: bold;
}

/* Contacto */
#contacto{
  height: 100vh;
  display: flex;
  align-items: center;
}
.form-label{
  font-family: var(--font-primario) !important;
  font-weight: 500;
  font-size: 24px;
}
.form-control{
  font-size: 2rem;
  color: #f8f8f8;
  background-color: #0e0e0e;
  border: none;
  border-radius: 0%;
  border-bottom: 3px solid #f8f8f8;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
  resize: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }
.form-control:focus{
  background-color: inherit;
  box-shadow: none;
  color: var(--color-primario);
  border-color: var(--color-primario);
}
#textarea{
  height: 150px;
}
.form-control:hover{
  border-color: var(--color-primario);
}
.btn-formulario-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.btn-form{
  background-color: var(--color-primario);
  border-color: var(--color-primario);
  font-size: 30px;
  color: #0e0e0e;
  width: 100%;
  height: 60%;
  font-weight: 900;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container-content-form{
  margin-right: 5%;
}
.title-contacto{
  font-weight: 900;
  font-size: 38px;
  line-height: 45px;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
  text-transform: uppercase;
}
/* Contacto */